spring:
  flyway:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/cip113}
    user: ${DB_USERNAME:cardano}
    password: ${DB_PASSWORD:password}
    schemas: ${DB_SCHEMA:public}
    locations:
      - classpath:db/store/{vendor}
    out-of-order: true
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/cip113}
    username: ${DB_USERNAME:cardano}
    password: ${DB_PASSWORD:password}

network: mainnet

wallet:
  mnemonic: ""

blockfrost:
  url: https://cardano-mainnet.blockfrost.io/api/v0/
  key: ""

store:
  cardano:
    host: backbone.mainnet.cardanofoundation.org
    port: 3001
    protocol-magic: 764824073
    # Start from the block that minted the ref input for the contract
    sync-start-blockhash: 586ead1770fc2a59021b824bc0d65bf1d6060585384f257971204d5925f054c2
    sync-start-slot: 154984561
    keep-alive-interval: 1000
  blocks:
    epoch-calculation-interval=14400:  # 14400 = 4 hours

apiPrefix: /api/v1

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus

---
spring:
  config:
    activate:
      on-profile: preview

network: preview

wallet:
  mnemonic: ""

blockfrost:
  url: https://cardano-preview.blockfrost.io/api/v0/

store:
  cardano:
    host: ""
    port: 0
    protocol-magic: 2
    # Start from the block that minted the ref input for the contract
    sync-start-blockhash: c8e25e3b3125b049bb88333531f6da6e0882cd2eda3c369c50009a50175107c8
    sync-start-slot: 93790678
  blocks:
    epoch-calculation-interval=14400:  # 14400 = 4 hours
